body {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  color: rgb(230, 156, 45);
  background-color: rosybrown;
  font-size: 16px;
}

h1 {
  font-family: "Xanh Mono", monospace;
  text-align: center;
  font-size: 3em;
  color: rgb(255, 255, 255);
  margin-top: 15px;
  margin-bottom: 45px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: black;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  padding: 10px 40px 10px 40px;
  border-left: 1px solid rgb(165, 157, 157);
}

li:first-child {
  margin-left: 35px;
}

li:last-child {
  border-right: 1px solid rgb(165, 157, 157);
}

#salmon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  margin-top: 30px;
  margin-bottom: 60px;
}
